# =========================================================
# Large genomic sequence data
# =========================================================
data/genomes/
*.fna
*.fna.gz
*.fa
*.fa.gz
*.fasta
*.fasta.gz


# =========================================================
# Large sequence-variation outputs
# =========================================================
*.pyseer
*.pyseer.gz
*.partial.gz
*.gfa
*.gfa.gz
*.bfg_colors


# =========================================================
# Large matrices / models
# =========================================================
*.npz
*.pkl
*.pickle
*.joblib


# =========================================================
# Temporary / cache files
# =========================================================
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.cache/
tmp/
temp/


# =========================================================
# IDE / OS files
# =========================================================
.idea/
.vscode/
.DS_Store
Thumbs.db


# =========================================================
# Local environments
# =========================================================
.venv/
venv/
env/
conda-env/